html {
    margin: 30px;
    font-size: 16px;
    background-color: #8DAD88;
}

header .p1, header .p2,
footer .p1, footer .p2 {
    position: static;
    margin: 0;
    text-align: center;
}

.mia .getaway, .mia .retreat {
    padding: 20px;
}

.mia .getaway {
    background-color: #37582B;
    color: white;
}

.mia .getaway p, .mia .retreat p {
    font-size: 1.2rem;
}

.mia .retreat h1 {
    font-size: 32px;
}

.roscoe {
    display: flex;
    flex-wrap: wrap;
}

.roscoe .forest {
    width: 100%;
}

.roscoe .forest img {
    width: 100%;
    height: auto;
}

.roscoe .quote {
    width: 100%;
    text-align: center;
}

.roscoe .quote img {
    width: 50%;
    height: auto;
    margin: 10px auto;
}

.roscoe h3 {
    font-size: 28px;
    padding: 10px;
}
